In [1]:
import pandas as pd
from datetime import datetime
from fix_namabarang import fix

In [2]:
from datetime import datetime

date_str2 = '6/6/18'

# Define dates as datetime objects
date_dt2 = datetime.strptime(date_str2, '%m/%d/%y').date()
print(date_dt2)

2018-06-06

In [9]:
import os

path = r'D:\github\python\sona\DATA\all'

files = []
# r=root, d=directories, f = files
for r, d, f in os.walk(path):
    for file in f:
        if '.xls' in file:
            files.append(os.path.join(r, file))

for f in files:
    print(f)

D:\github\python\sona\DATA\all\09-15 april 2018.xls
D:\github\python\sona\DATA\all\1-08 april 2018.xls
D:\github\python\sona\DATA\all\1-4 november 2018.xls
D:\github\python\sona\DATA\all\10-16 JULI 2017.xls
D:\github\python\sona\DATA\all\11-17 jan 2016.xls
D:\github\python\sona\DATA\all\12-18 november 2018.xls
D:\github\python\sona\DATA\all\13-19 feb 2017.xls
D:\github\python\sona\DATA\all\16-22 april 2018.xls
D:\github\python\sona\DATA\all\19-25 november 2018.xls
D:\github\python\sona\DATA\all\20-28 feb 2017.xls
D:\github\python\sona\DATA\all\23-30 april 2018.xls
D:\github\python\sona\DATA\all\26-30 november 2018.xls
D:\github\python\sona\DATA\all\5-11 november 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 01-03 JUNI 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 01-05 JUNI 2016.xls
D:\github\python\sona\DATA\all\PENJUALAN 01-06 MEI 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 01-07 AGUSTUS 2016.xls
D:\github\python\sona\DATA\all\penjualan 01-07 oktober 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 01-08 JULI 2018.xls
D:\github\python\sona\DATA\all\penjualan 01-08 mei 2016.xls
D:\github\python\sona\DATA\all\penjualan 01-08 oktober 2017.xls
D:\github\python\sona\DATA\all\penjualan 01-09 desember 2018.xls
D:\github\python\sona\DATA\all\penjualan 01-09 juli 2017.xls
D:\github\python\sona\DATA\all\penjualan 01-09 september 2018.xls
D:\github\python\sona\DATA\all\penjualan 01-10 april 2016.xls
D:\github\python\sona\DATA\all\penjualan 01-10 desember 2017.xls
D:\github\python\sona\DATA\all\PENJUALAN 01-10 JULI 2016.xls
D:\github\python\sona\DATA\all\penjualan 01-10 september 2017.xls
D:\github\python\sona\DATA\all\penjualan 01-11 maret 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 01-11 SEPTEMBER 2016.xls
D:\github\python\sona\DATA\all\penjualan 01-12 agustus 2018.xls
D:\github\python\sona\DATA\all\penjualan 01-12 februari 2017.xls
D:\github\python\sona\DATA\all\penjualan 01-12 maret 2017.xls
D:\github\python\sona\DATA\all\penjualan 01-12 november 2017.xls
D:\github\python\sona\DATA\all\penjualan 01-13 agustus 2017.xls
D:\github\python\sona\DATA\all\penjualan 01-13 november 2016.xls
D:\github\python\sona\DATA\all\penjualan 01-14 januari 2018.xls
D:\github\python\sona\DATA\all\penjualan 01-14 mei 2017.xls
D:\github\python\sona\DATA\all\penjualan 01-15 januari 2017.xls
D:\github\python\sona\DATA\all\penjualan 01-16 april 2017.xls
D:\github\python\sona\DATA\all\penjualan 01-18 desember 2016.xls
D:\github\python\sona\DATA\all\PENJUALAN 04-10 JUNI 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 06-12 JUNI 2016.xls
D:\github\python\sona\DATA\all\PENJUALAN 07-13 MEI 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 08-14 AGUSTUS 2016.xls
D:\github\python\sona\DATA\all\penjualan 08-14 oktober 2018.xls
D:\github\python\sona\DATA\all\penjualan 09-15 juli 2018.xls
D:\github\python\sona\DATA\all\penjualan 09-15 mei 2016.xls
D:\github\python\sona\DATA\all\penjualan 09-15 oktober 2017.xls
D:\github\python\sona\DATA\all\penjualan 1 sd 6 maret 2016.xls
D:\github\python\sona\DATA\all\penjualan 1-11 februari 2018.xls
D:\github\python\sona\DATA\all\penjualan 1-11 juni 2017.xls
D:\github\python\sona\DATA\all\PENJUALAN 1-16 OKTOBER 2016.xls
D:\github\python\sona\DATA\all\penjualan 10-16 desember 2018.xls
D:\github\python\sona\DATA\all\penjualan 10-16 september 2018.xls
D:\github\python\sona\DATA\all\penjualan 11-17 april 2016.xls
D:\github\python\sona\DATA\all\penjualan 11-17 desember 2017.xls
D:\github\python\sona\DATA\all\PENJUALAN 11-17 JULI 2016.xls
D:\github\python\sona\DATA\all\PENJUALAN 11-17 JUNI 2018.xls
D:\github\python\sona\DATA\all\penjualan 11-17 september 2017.xls
D:\github\python\sona\DATA\all\penjualan 12-18 februari 2018.xls
D:\github\python\sona\DATA\all\penjualan 12-18 juni 2017.xls
D:\github\python\sona\DATA\all\penjualan 12-18 maret 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 12-30 SEPTEMBER 2016.xls
D:\github\python\sona\DATA\all\penjualan 13-19 agustus 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 13-19 JUNI 2016.xls
D:\github\python\sona\DATA\all\penjualan 13-19 november 2017.xls
D:\github\python\sona\DATA\all\penjualan 13-31 maret 2017.xls
D:\github\python\sona\DATA\all\penjualan 14-20 agustus 2017.xls
D:\github\python\sona\DATA\all\penjualan 14-20 maret 2016.xls
D:\github\python\sona\DATA\all\PENJUALAN 14-20 MEI 2018.xls
D:\github\python\sona\DATA\all\penjualan 14-30 november 2016.xls
D:\github\python\sona\DATA\all\PENJUALAN 15-21 AGUSTUS 2016.xls
D:\github\python\sona\DATA\all\penjualan 15-21 januari 2018.xls
D:\github\python\sona\DATA\all\penjualan 15-21 mei 2017.xls
D:\github\python\sona\DATA\all\penjualan 15-21 oktober 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 16-22 JULI 2018.xls
D:\github\python\sona\DATA\all\penjualan 16-22 mei 2016.xls
D:\github\python\sona\DATA\all\penjualan 16-22 oktober 2017.xls
D:\github\python\sona\DATA\all\penjualan 16-31 januari 2017.xls
D:\github\python\sona\DATA\all\penjualan 17-23 desember 2018.xls
D:\github\python\sona\DATA\all\penjualan 17-23 juli 2017.xls
D:\github\python\sona\DATA\all\penjualan 17-23 september 2018.xls
D:\github\python\sona\DATA\all\penjualan 17-30 april 2017.xls
D:\github\python\sona\DATA\all\PENJUALAN 17-31 OKTOBER 2016.xls
D:\github\python\sona\DATA\all\penjualan 18-24 april 2016.xls
D:\github\python\sona\DATA\all\penjualan 18-24 desember 2017.xls
D:\github\python\sona\DATA\all\PENJUALAN 18-24 JULI 2016.xls
D:\github\python\sona\DATA\all\PENJUALAN 18-30 JUNI 2018.xls
D:\github\python\sona\DATA\all\penjualan 18-30 september 2017.xls
D:\github\python\sona\DATA\all\penjualan 19-25 maret 2018.xls
D:\github\python\sona\DATA\all\penjualan 19-28 februari 2018.xls
D:\github\python\sona\DATA\all\penjualan 19-30 juni 2017.xls
D:\github\python\sona\DATA\all\penjualan 19-31 desember 2016.xls
D:\github\python\sona\DATA\all\penjualan 20-26 agustus 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 20-26 JUNI 2016.xls
D:\github\python\sona\DATA\all\penjualan 20-30 november 2017.xls
D:\github\python\sona\DATA\all\penjualan 21-27 maret 2016.xls
D:\github\python\sona\DATA\all\penjualan 21-31 agustus 2017.xls
D:\github\python\sona\DATA\all\PENJUALAN 21-31 MEI 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 22-28 AGUSTUS 2016.xls
D:\github\python\sona\DATA\all\penjualan 22-31 januari 2018.xls
D:\github\python\sona\DATA\all\penjualan 22-31 mei 2017.xls
D:\github\python\sona\DATA\all\penjualan 22-31 oktober 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 23-31 JULI 2018.xls
D:\github\python\sona\DATA\all\penjualan 23-31 mei 2016.xls
D:\github\python\sona\DATA\all\penjualan 23-31 oktober 2017.xls
D:\github\python\sona\DATA\all\penjualan 24-30 september 2018.xls
D:\github\python\sona\DATA\all\penjualan 24-31 desember 2018.xls
D:\github\python\sona\DATA\all\penjualan 24-31 juli 2017.xls
D:\github\python\sona\DATA\all\penjualan 25-30 april 2016.xls
D:\github\python\sona\DATA\all\penjualan 25-31 desember 2017.xls
D:\github\python\sona\DATA\all\PENJUALAN 25-31 JULI 2016.xls
D:\github\python\sona\DATA\all\penjualan 26-31 maret 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 27-30 JUNI 2016.xls
D:\github\python\sona\DATA\all\penjualan 27-31 agustus 2018.xls
D:\github\python\sona\DATA\all\PENJUALAN 28-31 AGUSTUS 2016.xls
D:\github\python\sona\DATA\all\penjualan 28-31 maret 2016.xls
D:\github\python\sona\DATA\all\penjualan 7-13 maret 2016.xls
D:\github\python\sona\DATA\all\penjualan maharani pib 1 sd 3 januari 2016.xls
D:\github\python\sona\DATA\all\penjualan maharani pib 1 sd 7 februari 2016.xls
D:\github\python\sona\DATA\all\penjualan maharani pib 15 sd 21 februari 2016.xls
D:\github\python\sona\DATA\all\penjualan maharani pib 18 sd 24 januari 2016.xls
D:\github\python\sona\DATA\all\penjualan maharani pib 22 sd 29 februari 2016.xls
D:\github\python\sona\DATA\all\penjualan maharani pib 25 sd 31 januari 2016.xls
D:\github\python\sona\DATA\all\penjualan maharani pib 4 sd 10 januari 2016.xls
D:\github\python\sona\DATA\all\penjualan maharani pib 8 sd 14 februari 2016.xls

In [10]:
foo = pd.read_excel(r"D:\github\python\sona\DATA\all\penjualan 01-09 september 2018.xls")

WARNING *** file size (4400552) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [11]:
foo

,Maharani,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Laporan Data Penjualan Per Transaksi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tanggal cetak : 02 Mei 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tanggal,NaN,No.Transaksi,NaN,Kasir,NaN,Pelanggan,NaN,NaN,NaN,NaN,Keterangan,NaN
3,NaN,Kode Barang,NaN,Nama barang,NaN,NaN,NaN,NaN,Hrg. Jual,Qty,Satuan,Disk. [%],Subtotal
4,01/09/2018,NaN,003012018090100094,NaN,0,NaN,-,NaN,NaN,NaN,NaN,Retur Penjualan,NaN
5,1,8512167promo,NaN,PROMO BENDERA,NaN,NaN,NaN,NaN,69900,1,PCS,0,-69900
6,NaN,NaN,NaN,JELAJAH 123 MADU 800GR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Penjualan per Transaksi :,NaN,NaN,NaN,-69900
8,01/09/2018,NaN,003012018090100185,NaN,0,NaN,Tunai,NaN,NaN,NaN,NaN,Penjualan,NaN
9,1,8512120,NaN,AICE CHOCO CRISPY/30,NaN,NaN,NaN,NaN,4000,1,PCS,0,4000
10,2,8512896,NaN,AICE COFFE CRISPY /40,NaN,NaN,NaN,NaN,3000,3,PCS,0,9000
11,3,1210997,NaN,^VIT 600ML/24,NaN,NaN,NaN,NaN,1500,1,PCS,0,1500
12,4,1210384,NaN,^^MINUTE MAID PULPY,NaN,NaN,NaN,NaN,5500,1,PCS,0,5500
13,NaN,NaN,NaN,ORNGE 350ML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Penjualan per Transaksi :,NaN,NaN,NaN,20000
15,01/09/2018,NaN,003012018090100158,NaN,0,NaN,Tunai,NaN,NaN,NaN,NaN,Penjualan,NaN
16,1,8512171,NaN,AICE SWEET,NaN,NaN,NaN,NaN,3000,3,PCS,0,9000
17,NaN,NaN,NaN,CORN/JAGUNG 40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2,8512113,NaN,AICE SEMANGKA/50,NaN,NaN,NaN,NaN,2000,5,PCS,0,10000
19,3,8512112,NaN,AICE NANAS/50,NaN,NaN,NaN,NaN,2000,6,PCS,0,12000
20,4,8512110,NaN,AICE MILK STICK/ FUNKY,NaN,NaN,NaN,NaN,2000,6,PCS,0,12000
21,NaN,NaN,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,5,8512120,NaN,AICE CHOCO CRISPY/30,NaN,NaN,NaN,NaN,4000,2,PCS,0,8000
23,6,8513243,NaN,AICE SESAME CRISPY,NaN,NaN,NaN,NaN,4000,1,PCS,0,4000
24,NaN,NaN,NaN,55GR/30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,7,8512896,NaN,AICE COFFE CRISPY /40,NaN,NaN,NaN,NaN,3000,1,PCS,0,3000
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Penjualan per Transaksi :,NaN,NaN,NaN,58000
27,01/09/2018,NaN,003012018090100170,NaN,0,NaN,Tunai,NaN,NaN,NaN,NaN,Penjualan,NaN
28,1,8512634,NaN,AMIDIS 1500ML/12,NaN,NaN,NaN,NaN,5000,1,PCS,0,5000
29,2,120045,NaN,SUPERMIE SOP BUNTUT,NaN,NaN,NaN,NaN,2200,2,PCS,0,4400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29382,09/09/2018,NaN,003012018090900446,NaN,507004,NaN,Tunai,NaN,NaN,NaN,NaN,Penjualan,NaN
29383,1,910002,NaN,CLAS MILD 16 FILTER,NaN,NaN,NaN,NaN,18500,1,PCS,0,18500
29384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Penjualan per Transaksi :,NaN,NaN,NaN,18500
29385,09/09/2018,NaN,003012018090900286,NaN,507004,NaN,Tunai,NaN,NaN,NaN,NaN,Penjualan,NaN
29386,1,2010368,NaN,CLEAR KACA APPLE REF,NaN,NaN,NaN,NaN,3550,1,PCS,0,3550
29387,NaN,NaN,NaN,440ML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Penjualan per Transaksi :,NaN,NaN,NaN,3550
29389,09/09/2018,NaN,003012018090900357,NaN,507004,NaN,Tunai,NaN,NaN,NaN,NaN,Penjualan,NaN
29390,1,2110365,NaN,DAHLIA AER LAVENDER,NaN,NaN,NaN,NaN,27000,1,PCS,0,27000
29391,NaN,NaN,NaN,REFF F607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29392,NaN,NaN,NaN,NaN,NaN,NaN,Halaman : 655,NaN,NaN,NaN,NaN,NaN,NaN
29393,Maharani,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29394,Laporan Data Penjualan Per Transaksi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29395,Tanggal cetak : 02 Mei 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29396,Tanggal,NaN,No.Transaksi,NaN,Kasir,NaN,Pelanggan,NaN,NaN,NaN,NaN,Keterangan,NaN
29397,NaN,Kode Barang,NaN,Nama barang,NaN,NaN,NaN,NaN,Hrg. Jual,Qty,Satuan,Disk. [%],Subtotal
29398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Penjualan per Transaksi :,NaN,NaN,NaN,27000
29399,09/09/2018,NaN,003012018090900492,NaN,507004,NaN,Tunai,NaN,NaN,NaN,NaN,Penjualan,NaN
29400,1,8510963,NaN,KARACHI CLASSIC PINK,NaN,NaN,NaN,NaN,30000,1,PCS,0,30000
29401,NaN,NaN,NaN,88ML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29402,2,3410175,NaN,EMERON SMP AD 90ML/24,NaN,NaN,NaN,NaN,7500,1,PCS,0,7500
29403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Penjualan per Transaksi :,NaN,NaN,NaN,37500
29404,09/09/2018,NaN,003012018090900337,NaN,507004,NaN,Tunai,NaN,NaN,NaN,NaN,Penjualan,NaN
29405,1,110001,NaN,^^INDOMIE GORENG,NaN,NaN,NaN,NaN,2200,5,Bd5,0,11000
29406,NaN,NaN,NaN,SPECIAL 85GR/40 #,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29407,2,110004,NaN,^^INDOMIE AYAM SPECIAL,NaN,NaN,NaN,NaN,2120,5,Bd5,0,10600
29408,NaN,NaN,NaN,70GR/40 #,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Penjualan per Transaksi :,NaN,NaN,NaN,21600
29410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Penjualan :,NaN,NaN,NaN,116408245
29411,NaN,NaN,NaN,NaN,NaN,NaN,Halaman : 656,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# foo = pd.read_excel(al)
# tangal = foo["Maharani"].tolist()
# nomer_transaksi = foo["Unnamed: 2"].tolist()
# nama_barang = foo["Unnamed: 3"].tolist()

In [13]:
barang_tr = list()
tanggal_tr = list()
transaksi = list()

for al in files:
#     al = folder+"/"+al
    foo = pd.read_excel(al)
    tangal = foo["Maharani"].tolist()
    nomer_transaksi = foo["Unnamed: 2"].tolist()
    nama_barang = foo["Unnamed: 3"].tolist()
    for i, j, k in zip(tangal, nomer_transaksi, nama_barang):
        if k != "nan ": #and i == "nan":
    #         print(i, "|",j,"|", k)
            if type(i) is not float:
                if type(i) == int:
    #                 print(i)
                    transaksi.append(k)
                elif type(i) is str:
    #                 print(i)
                    barang_tr.append(transaksi)
                    tanggal_tr.append(i)
                    transaksi=list()

WARNING *** file size (3401810) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3924663) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2181859) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2632274) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2404836) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3423074) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2674277) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3398253) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3508458) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3812065) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2273504) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3456763) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1500544) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2750794) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3026671) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2711830) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3571201) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3717370) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3771070) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4439462) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4400552) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4156261) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4405242) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4587482) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4755619) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (5028006) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (5682954) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (5057406) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (5516595) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (5254266) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (5061336) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (6251071) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (5639506) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (10116975) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (6657181) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (6934925) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3872007) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3255363) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3422029) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2840106) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3322001) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3109577) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3008469) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3054377) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2771344) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4860474) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4121942) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (6834375) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3410332) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3331692) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3039515) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2953680) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2832645) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3514586) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

WARNING *** file size (3004778) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3087858) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2771914) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3290591) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (7714409) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3352731) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3190137) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3048775) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (7590515) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2816873) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3026280) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3477195) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (6306674) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2831554) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2934585) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2805427) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3349462) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3181582) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2769347) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2939736) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (5629731) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3169951) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2632269) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3171965) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (5761800) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (5788871) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2974219) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2692586) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3450852) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (5275397) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3390751) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4854264) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (9534608) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3472133) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2922875) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4568027) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2924118) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4428334) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2792995) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4066433) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4919633) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4078209) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3983015) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3385678) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3131162) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2540405) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2939323) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2590939) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2806896) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1748546) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2435029) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1204658) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (1492660) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3169461) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2688348) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2614209) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3141038) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2904695) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2809398) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [14]:
barang_tr1 = barang_tr
tanggal_tr1 = tanggal_tr
transaksi1 = transaksi #658725

# barang_tr = barang_tr1
# tanggal_tr = tanggal_tr1
# transaksi = transaksi1
print(len(tanggal_tr))
print(len(barang_tr))

683204
683204

In [16]:
tanggal_trn = list()
bukan = list()
barang_trn = list()
for i, j in zip(tanggal_tr, barang_tr):
    if len(j)!=0:
        j = ", ".join(j)
        j = j.replace("^","").replace('"',"").replace(']',"")
        j = j.lower()
        j = fix.fixNamaBarangAll(j)
        tanggal_trn.append(i)
        barang_trn .append(j)
temp = list()
count = 0
for i, tgl in enumerate (tanggal_trn):
    if tgl == 'Maharani' or tgl == 'Laporan Data Penjualan Per Transaksi' or tgl == 'Maharani':
#         print(barang_trn[i])
        tanggal_trn[i]=tanggal_trn[i-2]
        count+=1
    else:
        pass
count

61715

In [17]:
for i, tgl in enumerate(tanggal_trn):
    if type(i) is float:
        print(i)
    t = tgl.split("/")
    try:
        t[0],t[2] = t[2],t[0]
#         print(t)
        t = "-".join(t)
        tanggal_trn[i]=t
    except:
        print(tgl)
#         pass

In [18]:
print(len(barang_trn))
print(len(tanggal_trn))

429832
429832

In [19]:
dc = {
    'tanggal':tanggal_trn,
    'barang':barang_trn
}
df = pd.DataFrame.from_dict(dc)
df.to_excel("hasil_all_3.xlsx")
df

           tanggal                                             barang
0       2018-04-09            susu,minuman rasa,susu,snack,pasta gigi
1       2018-04-09  snack,minyak goreng,mie instan,mie instan,alat...
2       2018-04-09                                    obat nyamuk,kue
3       2018-04-09                            tisu,sabun wajah,shampo
4       2018-04-09                                              snack
5       2018-04-09                       snack,mie instan,snack,telur
6       2018-04-09                                               gula
7       2018-04-09                                         susu,snack
8       2018-04-09                                            es krim
9       2018-04-09                                        air mineral
10      2018-04-09                                  deterjen,deterjen
11      2018-04-09           pembalut,tisu,kosmetik,sabun mandi,snack
12      2018-04-09                                               susu
13      2018-04-09   susu,permen,snack,snack,snack,snack,snack,permen
14      2018-04-09                                         snack,gula
15      2018-04-09                               shampo,minyak goreng
16      2018-04-09                          minuman rasa,minuman rasa
17      2018-04-09                           air mineral,minuman rasa
18      2018-04-09                                              snack
19      2018-04-09                                        air mineral
20      2018-04-09                                        sabun wajah
21      2018-04-09                                            es krim
22      2018-04-09                                       snack,coklat
23      2018-04-09                                       minuman rasa
24      2018-04-09                                  snack,snack,snack
25      2018-04-09                                              telur
26      2018-04-09                             snack,air mineral,tisu
27      2018-04-09                         susu,tisu,mie instan,snack
28      2018-04-09                             air mineral,5 liter/12
29      2018-04-09                                  deterjen,deterjen
...            ...                                                ...
429802  2016-02-14       coklat,minuman rasa,snack,minyak angin,snack
429803  2016-02-14         parfum,sabun mandi,sikat,sabun wajah,bumbu
429804  2016-02-14  susu,susu,minuman rasa,snack,snack,snack,snack...
429805  2016-02-14                                             shampo
429806  2016-02-14  mie instan,deterjen,deterjen,obat nyamuk,aseso...
429807  2016-02-14                            snack,snack,snack,snack
429808  2016-02-14                                              snack
429809  2016-02-14                                               susu
429810  2016-02-14             telur,minyak goreng,bumbu,sirup,parfum
429811  2016-02-14                            parfum,susu,shampo,susu
429812  2016-02-14                          ikan sarden,coklat,coklat
429813  2016-02-14                      snack,bumbu,air mineral,nuget
429814  2016-02-14  mie instan,kecap,susu,mie instan,teh,susu,susu...
429815  2016-02-14  beras,susu,gula,rokok,pakaian,susu,kopi,minuma...
429816  2016-02-14                                            es krim
429817  2016-02-14                                              snack
429818  2016-02-14                        snack,es krim,es krim,snack
429819  2016-02-14                      soft drink,minuman rasa,telur
429820  2016-02-14  deterjen,sabun mandi,sabun mandi,sabun mandi,t...
429821  2016-02-14                  snack,pembersih,rokok,snack,snack
429822  2016-02-14                                             coklat
429823  2016-02-14  soft drink,minuman rasa,minuman rasa,minuman r...
429824  2016-02-14                                           kosmetik
429825  2016-02-14                                              rokok
429826  2016-02-14  telur,minyak goreng,minuman rasa,gula,snack,mi...
429827  2016-02-14                                             coklat
429828  2016-02-14  telur,telur,snack,teh,pasta gigi,mie instan,mi...
429829  2016-02-14                                              telur
429830  2016-02-14                                      susu,teh,obat
429831  2016-02-14               obat nyamuk,obat nyamuk,snack,parfum

[429832 rows x 2 columns]

In [41]:
df[429827:429828]

           tanggal            barang
429827  2016-02-14  LAGIE CHOC.BANGO

In [34]:
# tanggal_trn = list()
# bukan = list()
# barang_trn = list()
# for i, j in zip(tanggal_tr, barang_tr):
#     if len(j)!=0:
#         j = ", ".join(j)
#         j = j.replace("^","")
#         tanggal_trn.append(i)
#         barang_trn .append(j)
# temp = list()
# for i, tgl in enumerate (tanggal_trn):
#     if tgl == 'Maharani' or tgl == 'Laporan Data Penjualan Per Transaksi' or tgl == 'Maharani':
# #         print(tgl)
#         if tanggal_trn[i-1] != 'Maharani' and tanggal_trn[i-1] != 'Laporan Data Penjualan Per Transaksi':
#             tgl = tanggal_trn[i-1]
#             tgl = tgl.split("/")
#             tgl[0],tgl[2] = tgl[2],tgl[0]
#             tgl = "-".join(tgl)
#             temp.append(tgl)
#         else:
#             try:
#                 tgl = tanggal_trn[i+1]
#                 tgl = tgl.split("/")
#                 tgl[0],tgl[2] = tgl[2],tgl[0]
#                 tgl = "-".join(tgl)
#                 temp.append(tgl)
#             except:
#                 if tgl == 'Maharani':
#                     tgl = tanggal_trn[i-2]
#                     tgl = tgl.split("/")
#                     tgl[0],tgl[2] = tgl[2],tgl[0]
#                     tgl = "-".join(tgl)
#                     temp.append(tgl)
#                     print(tgl)
#     else:
#         if "-" in tgl:
#             temp.append(tgl)
            
# #         tgl = tgl.split("/")
# #         tgl[0],tgl[2] = tgl[2],tgl[0]
# #         tgl = "-".join(tgl)
#         elif "/" in tgl:
#             temp.append(tgl)
#             print(tgl)
#             tgl = tgl.split("/")
#             tgl[0],tgl[2] = tgl[2],tgl[0]
#             tgl = "-".join(tgl)
#             temp.append(tgl)
#         else:
#             print(tgl)
#             temp.append(tgl)
# #     try:
# #         tgl = datetime.strptime(tgl, '%d/%m/%y').date()
# #     except:
# #         print(tgl)
# #     tgl = tgl.split("/")
# #     try:
# #         tgl[0],tgl[2] = tgl[2],tgl[0]
# #     except:
# #         bukan.append("".join(tgl))
# tanggal_trn = temp

In [35]:
# len(barang_trn)

In [36]:
# set(bukan)

In [37]:
# dc = {
#     'tanggal':tanggal_trn,
#     'barang':barang_trn
# }
# df = pd.DataFrame.from_dict(dc)
# df.to_excel("hasil_all_2.xlsx")
# df

In [38]:
# print(len(tanggal_trn))
# print(len(barang_trn))